<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
  <h3 class="w3-bar-item" style="color:rgb(102, 102, 102);">ÁREA DOADOR</h3>
  <a  href="/consulta" id="consultabtn" class="w3-bar-item w3-button">Consulta de Doações</a>
  <a  href="/editarInformacoes" id="editarbtn" class="w3-bar-item w3-button">Editar Informações</a>
  <a  href="/editarSenha" id="senhabtn" class="w3-bar-item w3-button">Editar Senha</a>
  <a  href="/" id="homebtn" class="w3-bar-item w3-button">Home</a>
</div>

<div id="editarInfos">

  <form id="cadastro" method="post" action="http://localhost:3000/editarInformacoes">
    <h1 style="color:white;padding-bottom: 150px;text-align: center;">Editar Informações</h1>
    <div class="form-group">
      <label for="inputName" style="color:white;">Nome Completo</label>
      <input name="nome" type="text" maxlength="50"class="form-control" id="inputName" value="<%=informacoesSobreLogado[0].nome%>"
        placeholder="Nome" required>
    </div>
    <div class="form-group">
      <label for="inputAddress" style="color:white;">Endereço</label>
      <input type="text" name="endereco" maxlength="100" class="form-control" id="inputAddress"
        value="<%=informacoesSobreLogado[0].endereco%>" placeholder="Ex: Rua Miosótis, 500 - Jardim Santa Cláudia"
        required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity" style="color:white;">Cidade</label>
        <input type="text" name="cidade" maxlength="40" class="form-control" id="inputCity" placeholder="Cidade"
          value="<%=informacoesSobreLogado[0].cidade%>" required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState" style="color:white;">Estado</label>
        <input type="text" name="uf" class="form-control" max-lenght="2" id="inputCity" placeholder="UF"
          value="<%=informacoesSobreLogado[0].UF%>" required>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip" style="color:white;">Celular</label>
        <input type="text" name="telefone" class="form-control"  pattern=".{14,}" maxlength="14" id="inputCel" placeholder="(99)99999-9999" value="<%=informacoesSobreLogado[0].telefone%>" required>
      </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label id="inputEmail4" style="color:white;" for="inputEmail4">Email</label>
      <input type="email" name="email" class="form-control" maxlength="50" id="inputEmail4" placeholder="Email"
        value="<%=informacoesSobreLogado[0].email%>" required>
    </div>
  </div>
    <input type="submit" name="submit" class="btn btn-primary" value="Enviar">
    <br>
    <label id="info" style="color:red;display: none;">Email já cadastrado!</label>
  </form>
</div>

<style>
  #editarInfos {
    position: absolute;
    margin-left: 255px;
    margin-top: 3em;
  }

  #cadastro {
    margin-left: 420px;
    width: 600px;
  }
  .w3-bar-item{
          color:rgb(102, 102, 102);
         font-size: 20px;
         text-decoration: none;
       }
       .w3-bar-item:hover{
          color:rgb(102, 102, 102);
         font-size: 22px;
         text-decoration: none;
       }

  #inputCel {
    width: 170px;
  }

  #inputName {
    width: 685px;
  }

  #inputAddress {
    width: 685px;
  }


  body {
    background-color: rgba(255, 156, 156, 0.815);
  }
</style>


<script>

    $(document).ready(function(){
      $.getJSON("http://localhost:3000/resultEmailAlterar", function (result) {
        
        if (result == 1){
          $('#info').css('display','block');
        }
        else {
          $('#info').css('display','none');
        }
        
        });
      });
    
      </script>