<%- contentFor('body') %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link type="text/css" href="css/swiper.min">


<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<img src="images/logo.png" id="logoa" alt="logo img">
<nav class="menu">
	<ul>
		
		<%if(informacoesSobreLogado[0].nome != ""){%>
		<li><a id="conta" href="/consulta">Conta</a></li>
		<%}%>
		<li><a href="#entidades">Entidades</a></li>
		<li><a href="#download">Download</a></li>
		<li><a href="#saiba-mais">Saiba Mais</a></li>
		<li><a href="#contato">Contato</a></li>
		
	</ul>
</nav>
<!--CABECALHO-->



	<header id="cabecalho">
					<!-- <div class="logo-area">
					<a class="logo" id="logoo" href="#"><img src="images/logo.png" alt="logo img"></a>
					</div> -->

		<div class="cabecalho-destaque-content">
		<h1>Bem-Vindo ao <span>Helpa!</span></h1>

		<%if(informacoesSobreLogado[0].nome == ""){%>
			<p id="estaCadastrado">Entre ou se inscreva para poder doar!</p>
			<%}%>
	
	<%if(informacoesSobreLogado[0].nome != ""){%>
			<p id="estaCadastrado">Olá, <%=informacoesSobreLogado[0].nome%></p>
			<%}%>	
	<%if(informacoesSobreLogado[0].nome != ""){%>
		<div id="botoesdoarinscrever">
			<a class="botaodoar" href="/sair"><span>Deslogar</span></a>
		</div>
		<%}%>	

	<%if(informacoesSobreLogado[0].nome == ""){%>
		<div id="botoesdoarinscrever">
			<a class="botaodoar" href="/cadastro"><span>Inscrever</span></a>
			<a class="botaodoar2" href="/login"><span>Entrar</span></a>
		</div>
	<%}%>	
	
	
		

	</div>
			
	</header>


	<div id="tudoo">
			<h2 id="tituloEntidades2">---------</h2><br>
		
<!-- Entidades -->
 <section id="entidades">
		<h2 id="tituloEntidades">Entidades</h2><br>
		<h5 id="textoEntidades">Aqui exibiremos algumas entidades que você, usuário, pode doar. Leia o tópico antes de prosseguir:<br><br>
				<li>Tenha responsabilidade, não clique em doar se você não for entragar a doação;</li>
				<li>Todas suas doações podem ser consultadas na aba "conta";</li>
				<li>Sempre verifique o endereço antes de realizar a doação.</li>
		</h5>
		<br>
	
		<input type="text" id="busca" name="pesquisa" style="width: 1000px;margin-left:290px;border-radius: 3px;height: 40px;padding-left:15px;border:1px solid rgba(255, 117, 117, 0.575);" placeholder="Ex: APAE, arroz, Recanto dos Velhinhos, blusa de frio, etc" >
		<button id="btn-pesquisa" >Buscar</button>  <button id="btn-mostraTudo">Mostrar tudo</button>  
	
	 <div style="overflow-x:auto">  
			<table id="tabelasss">
					<tr id="linhaEntis" class="mg">
					
							<%for(var i=0;i<lista.length;i++) {%>

		<td class="itemTabela">

			<div class="card" style="width: 32rem;">
				<img class="card-img-top" src="<%=lista[i].linkImagem%>" height="200px" width="320px"
					alt="Imagem de capa do card">
				<div class="card-body">
					<h5 class="card-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
						aria-controls="collapse"><%=lista[i].nome%></h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" widht="50px">
							<%=lista[i].descricao%>
						<li id="listaDoacoesNecessarias"><strong>doações NECESSáRIAS:</strong></li>
						<%for(var ind = 0; ind < listaDoacoes.length;ind++){%>
						<%if(listaDoacoes[ind].codigo == lista[i].codigo) {%>
						<li id="listaDoacoesNecessarias">
							<label><%=listaDoacoes[ind].produto %></label>
						</li> <%}%>
											  </li>
												<%if(ind == listaDoacoes.length -1){%>
						<li class="list-group-item"><%=lista[i].endereco%></li>
					</ul>


					<form action="/" method="post">
						<div class="card-body">
							<label>Digite aqui o que você irá doar:</label>
							<input type="text" maxlengh="50" name="doacao" required>
							<br><br>
							<label>Digite a quantidade:</label>
							<input type="text" maxlengh="20" id="qtddoacao" name="quantidade" required>
						</div>
						<div class="card-body">
							<%if(informacoesSobreLogado[0].nome != ""){%>
							<input type="submit" onclick="DoacaoSucesso();" name="submit" style="margin-right: 50px;"
								class="btn btn-primary" value="Doar">
							<%}%>
							<%if(informacoesSobreLogado[0].nome == ""){%>
							<input type="button" onclick="SemLogin();" name="" style="margin-right: 50px; "
								class="btn btn-primary" value="Doar">
							<%}%>
							<input type="hidden" value="<%=lista[i].codigo%>" id="invisivel" name="codDaEntidade">
					</form>
					<a href="http://<%=lista[i].site%>" class="card-link">Saiba +</a>
				</div>
			</div>
			</div>
		</td>
		<%}%>
							<%}%>
		<%}%>	
			
							</tr>
					</table>
				
	 </div>

	
	
		</section> 

		
    
		<!-- Download -->
		<section id="download">
				<div class="download-area">
							
								<h2 id="tituloapp">Baixe o Aplicativo</h2>
								<p>Você é uma entidade e quer receber doações? <br>Entre em contato conosco pelo nosso número <b>(19)99900-0206 </b>ou pela aba <b>Contato </b>para realizarmos <br>sua inscrição,
									 e a partir dai você terá acesso a nosso aplicativo, além de ser exposto no catálogo Helpa!</p>		
					<a class="download-desktop" href="#" download=""><span>DOWNLOAD</span></a>
				</div>
			</div>
		</section>
	

		<!--SAIBA MAIS     (BOOTSTRAP)-->
		<section id="saiba-mais">
			<div class="container">
						<div class="saiba-mais-area">
							<div class="titulo-area">
								<h2 class="titulo">Saiba Mais</h2>
							</div>
							<div class="saiba-mais-content">
								<div class="panel-group" id="accordion">
							        <div class="panel panel-default">
							          <div class="panel-heading">
							            <h4 class="panel-title">
							              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
							              O que é o Helpa?
							              </a>
							            </h4>
							          </div>
							          <div id="collapseOne" class="panel-collapse collapse in">
							            <div class="panel-body">
											Helpa é uma plataforma feita para ajudar as entidades a receberem doações mais facilmente.
							            </div>
							          </div>
							        </div>

							        <div class="panel panel-default">
							          <div class="panel-heading">
							            <h4 class="panel-title">
							              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
							           </span> Como posso doar?
							              </a>
							            </h4>
							          </div>
							          <div id="collapseTwo" class="panel-collapse collapse">
							            <div class="panel-body">
							             Voce podera se inscrever no site e doar para qualquer entidade presente no catálogo!
							            </div>
							          </div>
							        </div>

							        <div class="panel panel-default">
							          <div class="panel-heading">
							            <h4 class="panel-title">
							              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
							              Quem são os desenvolvedores?
							              </a>
							            </h4>
							          </div>
							          <div id="collapseThree" class="panel-collapse collapse">
							            <div class="panel-body">
							             Maria Luiza Sperancin Mancebo e Giovanna Pavani Martelli, duas estudantes do colégio COTUCA.
							            </div>
							          </div>
							        </div>

							        <div class="panel panel-default">
							          <div class="panel-heading">
							            <h4 class="panel-title">
							              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
							                O site é seguro?
							              </a>
							            </h4>
							          </div>
							          <div id="collapseFour" class="panel-collapse collapse">
							            <div class="panel-body">
										 Sim, todas as entidades são verificadas antes de entrar no catálogo.
							            </div>
							          </div>
							        </div>

							        <div class="panel panel-default">
							          <div class="panel-heading">
							            <h4 class="panel-title">
							              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
							                O que eu tenho que doar?
							              </a>
							            </h4>
							          </div>
							          <div id="collapseFive" class="panel-collapse collapse">
							            <div class="panel-body">
							              Você pode doar o que quiser e puder, porém em cada entidade possui até 5 produtos mais necessarios para ela, sendo de sua escolha doar aquilo ou qualquer produto.
							            </div>
							          </div>
							        </div>


							    </div>
					</div>
				</div>
			</div>
		</section>
		


		<!-- CONTATO -->
		<section id="contato">
			<div class="container">
				<div class="contato-area">
					<div class="titulo-area">
								<h2>Contato</h2>
					</div>
					<div class="contato">
								<form class="form-contato">
												<div class="inputs">                
												<input type="text" class="form-control"  placeholder="Nome" id="name" name="name"> <!--classe form-control pertence ao bootstrap-->
												</div>

												  <div class="inputs">                
												<input type="email" class="form-control"  placeholder="Email" id="email" name="email">
												  </div>  

												     <div class="inputs">
												<textarea class="form-control"  placeholder="Mensagem" id="mensagem" name="mensage"></textarea>
													 </div>
													 <br>
												<button type="submit"><span>ENVIAR</span></button>
								 </form>
				     </div>
				</div>
			</div>		
		</section>
		<footer id="rodape">
			<div class="container">
					<div class="rodape-area">
							<p>&copy; Copyright Helpa!. Nenhum Direito Reservado.</p>
							<p>Celular para contato: (19) 999000206</p>
					</div>
			</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>	


	$("#btn-mostraTudo").click(function () {//exibe todas as entidades novamente
		document.location.reload(true);
	});

	$(document).ready(function () { //exibe ou nao a aba conta no menu
		var escrito = $("#estaCadastrado").text;
		if (escrito == "Entre ou se inscreva para poder doar!")
			$("#conta").css("visibility", "hidden");
	});

	function SemLogin() { //Alerta se a pessoa não está logada
		alert("Você não está logado, favor logar!");
	}

	function DoacaoSucesso() { //alerta que foi concluido com sucesso a doação
		alert("Doação feita com sucesso! Entre na aba \"conta\" para consultar suas doações.");
	}


	$("#btn-pesquisa").click(function () { //PESQUISA DE ENTIDADE OU PRODUTO 
		var desc = $('#busca').val();
		var url = "http://localhost:3000/pesquisar/" + desc + "";

		$.getJSON(url, function (result) {
			var infos = result;
			var out = "";

			for (var i = 0; i < infos.length; i++) {
				out += `<td class="itemTabela">
								<div class="card" style="width: 32rem;">
									<img class="card-img-top" src="`+ infos[i].linkImg + `" height="200px" width="320px" alt="Imagem de capa do card">
							<div class="card-body">
								<h5 class="card-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapse">`+ infos[i].nome + `</h5>
								<ul class="list-group list-group-flush">
									<li class="list-group-item" widht="50px"> 
										`+ infos[i].descri + `
									<li id="listaDoacoesNecessarias"><strong>doações NECESSáRIAS:</strong></li>`;

				var str = infos[i].doacoesNesc;
				var res = str.split(",");
				for (var ind = 1; ind < res.length; ind++) {
					out += `	<li id="listaDoacoesNecessarias"> <label>` + res[ind] + `</label></li>`;
				}

				out += `</li >
									<li class="list-group-item">`+ infos[i].ender + `</li>
								</ul >
							<form action="/" method="post">
								<div class="card-body">
									<label>Digite aqui o que você irá doar:</label>
									<input type="text" name="doacao" maxlenght="50" required>
									<br>
									<label>Digite a quantidade:</label>
									<input type="text" name="quantidade" maxlenght="20" required>
								</div>
									<div class="card-body">`
				var verif = $("#estaCadastrado").text();
				if (verif == "Entre ou se inscreva para poder doar!") {
					out += `<input type="button" onclick="SemLogin();" name="" style="margin-right: 50px; " class="btn btn-primary" value="Doar">`
				}
				if (verif != "Entre ou se inscreva para poder doar!") {
					out += `<input type="submit" onclick="DoacaoSucesso();" name="submit" style="margin-right: 50px;" class="btn btn-primary" value="Doar">`
				}
				out += `
									<input type="hidden" value="`+ infos[i].codE + `" id="invisivel" name="codDaEntidade">
								</form>
									<a href="http://`+ infos[i].site + `" class="card-link">Saiba +</a>
								</div>
							</div>
						</div>
					</td>`;
			}

			$("#linhaEntis").html(out);
		});

	});

</script>